Repository ipfs/ipfs-companion, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jessicaschilling, @lidel, @meandavejustice

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Owners: @lidel

docs: fix community CONTRIBUTING.md links (#1038)
  CONTRIBUTING.md
Owners: @lidel

task(mv3): split ci-mv3 file, add dnr types, use npm over yarn
  .github/workflows/ci-mv3.yml
  .github/workflows/ci.yml
  mv3/@types/declarativeNetRequest.d.ts
  mv3/addon/background.ts
  mv3/package-lock.json
  mv3/package.json
  mv3/tsconfig.json
  mv3/yarn.lock
Owners: @lidel, @meandavejustice

replace ipfs.git.sexy with wiki-on-ipfs
  test/data/linkify-demo.html
  test/functional/lib/dnslink.test.js
  test/functional/lib/ipfs-request-gateway-redirect.test.js
Owners: @lidel

chore: typo fix
  CONTRIBUTING.md
Owners: @lidel

chore: truncate no. of peers to unit of "k" when > 999
  add-on/src/lib/ipfs-companion.js
Owners: @lidel

fix: fix js lint and remove extra string method
  add-on/src/lib/ipfs-companion.js
Owners: @lidel

chore: remove unused scripts (#996)
  ci/Jenkinsfile.disabled
  ci/firefox/index.html
  ci/firefox/update.json
  package.json
Owners: @lidel

feat: save "Path to store imported files" preference from import page
  add-on/src/popup/quick-import.js
Owners: @lidel

fix: linkify tests (#1064)
  CONTRIBUTING.md
  test/data/linkify-demo.html
  test/functional/lib/dnslink.test.js
  test/functional/lib/ipfs-request-gateway-redirect.test.js
Owners: @lidel

feat: Add mv3 directory and boilerplate extension
  mv3/.eslintignore
  mv3/.eslintrc
  mv3/.gitignore
  mv3/README.md
  mv3/addon/background.ts
  mv3/addon/icons/brave-ipfs-logo-off.svg
  mv3/addon/icons/brave-ipfs-logo-on.svg
  mv3/addon/icons/ipfs-logo-off.svg
  mv3/addon/icons/ipfs-logo-on.svg
  mv3/addon/icons/js-ipfs-logo-off.svg
  mv3/addon/icons/js-ipfs-logo-on.svg
  mv3/addon/icons/png/ipfs-logo-off_128.png
  mv3/addon/icons/png/ipfs-logo-off_19.png
  mv3/addon/icons/png/ipfs-logo-off_38.png
  mv3/addon/icons/png/ipfs-logo-on_128.png
  mv3/addon/icons/png/ipfs-logo-on_19.png
  mv3/addon/icons/png/ipfs-logo-on_38.png
  mv3/addon/manifest.json
  mv3/addon/popup/index.css
  mv3/addon/popup/index.html
  mv3/addon/popup/index.js
  mv3/addon/rules.json
  mv3/package.json
  mv3/yarn.lock
Owners: @meandavejustice

.github/CODEOWNERS:

*.md @jessicaschilling
/add-on/_locales/en/messages.json @jessicaschilling
* @lidel
/mv3 @meandavejustice
